*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body{background-color: white;}

main{
    width: 90vw;
    max-width: 1000px;

    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 50px;
}

main .pageTitle{
    font-size: 40px;
    margin-bottom: 20px;
}

#pageContent{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/*-------------------------------------------------------*/

.divCategoria{
    display: flex;
    flex-direction: column;
}

.divCategoria h1{
    font-size: 30px;
}

.divCategoria .desCate{
    color: #3D3D3D;
    border-bottom: 3px solid #FFD369;

    margin-bottom: 20px;
    padding-bottom: 10px;
}

/*-------------------------------------------------------*/

.divCursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/*-------------------------------------------------------*/

.divCurso{
    position: relative;

    background-color: #EEEEEE;

    display: flex;
    flex-direction: column;

    width: 300px;

    border-radius: 20px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.315);

}

.divCurso img{
    width: 300px;
    height: 150px;
    object-fit: cover;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.spanInfo{
    background-color: rgba(0, 0, 0, 0.726);
    color: white;

    padding: 5px;
    border-radius: 10px;
}

.divCurso .level{
    position: absolute;
    top: 6px;
    left: 6px;
}

.divCurso .time{
    position: absolute;
    top: 6px;
    right: 6px;
}

.divCurso .info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.divCurso .btns{
    display: flex;
    justify-content: space-around;

    margin-top: auto;
    margin-bottom: 10px;
}

.divCurso .btns button{
    background-color: #FFD369;

    padding: 10px;

    border: none;
    border-radius: 20px;
}

.divCurso .btns button:hover{
    filter: brightness(0.8);
}

.divCurso h2{
    font-size: 20px;
}

.divCurso p{
    font-size: 15px;
    color: #3D3D3D;
}

/*-----------ENROLL NOW STYLE-----------*/

/*Estilo del banner de cada curso*/

#backBtn{
    width: 120px;
    border: none;
    background-color: #f4f6f8;
    color: blue;
}

.divImgInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    width: 90vw;
    max-width: 1000px;
    height: 250px;

    border-radius: 30px;
    padding: 20px;
    padding-top: 40px;

    color: white;
}

.divImgInfo p{
    color: #acacac;
}

.divImgInfo .teacherInfo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.divImgInfo img{
    width: 60px;
    height: 60px;
    border-radius: 100%;

    
}

/*estilos del contener de la informacion del curso*/

.divInfoCourse{display: flex;gap: 15px;}

.divInfoCourse .cardsContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.divInfoCourse .card{
    display: flex;
    flex-direction: column;
    gap: 20px;

    height: fit-content;

    padding: 20px;
    border-radius: 20px;

    background-color: #EEEEEE;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.315);
}

.divInfoCourse .card p{color: #3D3D3D;}

.divInfoCourse .card .modulo{
    padding: 10px;
    border-radius: 15px;
    background-color: #dfdede;
}

.divInfoCourse .card .modulo span:nth-child(1){
    color: #2446b6;
    font-weight: bold;
    margin-right: 10px;
}

.divInfoCourse .card button{
    border: none;
    border-radius: 10px;
    font-size: 15px;
    background-color: #FFD369;
    padding: 10px;
}

.espace{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
