#pageContent{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/*-------------------------------------------------------*/

.divCategoria{
    display: flex;
    flex-direction: column;
}

.divCategoria h1{
    font-size: 30px;
}

.divCategoria .desCate{
    color: var(--pColor);
    border-bottom: 3px solid #FFD369;

    margin-bottom: 20px;
    padding-bottom: 10px;
}

/*-------------------------------------------------------*/

.divCursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/*-------------------------------------------------------*/

.divCurso{
    position: relative;

    background-color: var(--bgCard);

    display: flex;
    flex-direction: column;
    overflow: hidden;

    width: 300px;

    border-radius: 20px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.315);
}

.divCurso img{
    width: 300px;
    height: 150px;
    object-fit: cover;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.divCurso:hover img{
    transform: scale(1.05);
}

.spanInfo{
    background-color: rgba(0, 0, 0, 0.726);
    color: white;

    padding: 5px;
    border-radius: 10px;
}

.divCurso .level{
    position: absolute;
    z-index: 100;
    top: 6px;
    left: 6px;
}

.divCurso .time{
    position: absolute;
    z-index: 100;
    top: 6px;
    right: 6px;
}

.divCurso .info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.divCurso .btns{
    display: flex;
    justify-content: space-around;

    margin-top: auto;
    margin-bottom: 10px;
}

.divCurso .btns button{
    background-color: #FFD369;

    padding: 10px;

    border: none;
    border-radius: 20px;
}

.divCurso .btns button:hover{
    filter: brightness(0.8);
}

.divCurso h2{
    font-size: 20px;
}

.divCurso p{
    font-size: 15px;
    color: var(--pColor);
}

/*-----------ENROLL NOW STYLE-----------*/

/*Estilo del banner de cada curso*/

#backBtn{
    width: 120px;
    border: none;
    background-color: var(--bgBody);
    color: var(--btnBackColor);
}

.divImgInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    height: 250px;

    border-radius: 30px;
    padding: 20px;
    padding-top: 40px;

    color: white;
}

.divImgInfo p{
    color: #acacac;
}

.divImgInfo .teacherInfo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.divImgInfo img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

/*estilos del contener de la informacion del curso*/

.divInfoCourse{
    display: flex;
    gap: 15px;
}

.divInfoCourse .cardsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
}

.divInfoCourse .card{
    display: flex;
    flex-direction: column;
    gap: 20px;

    height: fit-content;

    padding: 20px;
    border-radius: 20px;

    background-color: var(--bgCard);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.315);
}

.divInfoCourse .card p{color: var(--pColor);}

.divInfoCourse .card .modulo{
    padding: 10px;
    border-radius: 15px;
    background-color: var(--moduloDiv);
}

.divInfoCourse .card .modulo span:nth-child(1){
    color: var(--spanColor1);
    font-weight: bold;
    margin-right: 10px;
}

.divInfoCourse .card button{
    border: none;
    border-radius: 10px;
    font-size: 15px;
    background-color: #FFD369;
    padding: 10px;
}

.espace{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*boton para crear un nuevo curso*/

.btnCrearCurso {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;

    display: flex;
    align-items: center;
    gap: 10px;

    background: var(--bgBtnCrearCurso); /*el color del fondo y del texto es algo que puede cambiar*/
    color: var(--pColorBtnCrearCurso);
    border: none;
    border-radius: 50px;

    padding: 12px 16px;
    cursor: pointer;

    overflow: hidden;
    transition: all 0.4s ease;
}

.btnCrearCurso i {
    transform: translateX(5px);
    transition: transform 1s ease;
}

.textBtn {
    white-space: nowrap;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 1s ease;
}

.btnCrearCurso:hover .textBtn {
    max-width: 200px;
    opacity: 1;
}

.btnCrearCurso:hover i {
    transform: rotate(180deg);
}


/*panel con el que se crea los nuevos cursos*/

.divCCF{
    position: fixed;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    
    background-color: rgba(0, 0, 0, 0.76);
}

.divCCF form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    width: 90vw;
    max-width: 800px;
    padding: 20px;
    border-radius: 20px;

    background-color: var(--bgForm);
}

.divCCF .form-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 49%;
}

.divCCF input{
    height: 15px;
    padding: 7px;

    border-radius: 5px;
    border: none;
    outline: none;

    background-color: var(--bgInputForm);
    color: var(--colorTextInput);
}

.divCCF select{
    appearance: none;

    outline: none;
    border: 2px solid #d49d1c;
    border-radius: 5px;

    height: 28px;
    padding-left: 7px;

    background-color: var(--bgInputForm);
}

.divCCF .modulosContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    width: 100%;
}

.divCCF .form-group:nth-child(1){width: 100%;}

.divCCF .form-group:nth-child(2){width: 100%;}

.divCCF .form-group:nth-child(5){
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 10px;
    border-radius: 15px;
    background-color: #FFD369;
}

.divCCF .moduloCreated{
    display: flex;
    gap: 10px;

    padding: 10px;
    border-radius: 10px;

    background-color: #ffc369;
}

.divCCF .moduloCreated span{
    font-weight: bold;
    color: #d41c1c;
}

.divCCF .form-group .sub-form-group{
    display: flex;
    flex-direction: column;

    width: 100%;
}

.divCCF button{
    background-color: var(--bgBtnCrear);
    color: var(--colorBtnCrear);

    width: 150px;
    padding: 10px;

    border: none;
    border-radius: 20px;
}

