.tableHeaderDiv, .profesorDiv{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
    justify-items: center;
}
.profesorDiv img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
.profesorDiv{
    background-color: var(--bgCard);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.315);
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}
.tableHeaderDiv div{
    margin-left: 20px;
    margin-right: 20px;
}

#tableDiv{
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 90vw;
    gap: 20px;
    border: 2px solid transparent;
    padding: 20px;
    border-radius: 10px;
}
.profesorName{
    justify-self: left;
    display: flex;
    align-items: center;
    gap: 20px;
}


.deleteBtn{
    border-color: red;
    color: red;
    width: 40px;
    border-radius: 100%;
    background-color: var(--bgBody);
}

.editBtn{
    border-color: orange;
    color: orange;
    width: 40px;
    background-color: var(--bgBody);
}

.deleteBtn:hover{
    background-color: red;
    color: var(--colorBtnCrear);
}
.editBtn:hover{
    background-color: orange;
    color: var(--colorBtnCrear);
}
.profesorDivBtns{
    display: flex;
    gap: 10px;
    align-items: center;
}

#searchForm{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    min-width: 600px;
}
#searchForm > *{
    border: 1px solid black;
    font-size: 16px;
    padding: 10px;
}
#searchInput{
    height: 40px;
    width: 60%;
    border-top-left-radius: 20px ;
    border-bottom-left-radius: 20px;
    border-right: none !important;
    cursor: text;

}

#searchBtn{
    border-left: none !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 10%;
    cursor: pointer;
    background-color: #FFD369 ;
    font-weight: bold;
    color: #333333;
}
#searchSelect{
    width: 20%;
    border-left: none !important;
    border-right: none !important;
    background-color: var(--bgInputForm);
    color: var(--colorTextInput);

}

#searchSelect option{
    transition: ease 1s;
}
#bigProfesorDiv{
    display: inline-flex;
    width: fit-content;
    gap: 20px;
    background-color: var(--bgForm);
    padding: 20px;
    border-radius: 10px;

}
.persInfoDiv, .otherDiv{
    width: 40vw;
    height: 80vh;
    border-radius: 10px;
    z-index: 1001;
    display: flex;
    align-items: left;
    padding: 20px;
    box-sizing: border-box ;
    flex-direction: column;
    background-color: var(--bgForm);
    position: relative;
}
.profesorInfoImg{
    width: 200px;
    height: 200px;
    border: 4px solid var(--borderColor);
    border-radius: 10px;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.persInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    padding: 10px;
}
.persInfo div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.persInfo dt, .dt{
    font-size: 18px;

}
.dd {
    background-color: var(--bgInputForm) !important;
    color: var(--colorTextInput);
    font-size: 16px;
    border: 1px solid var(--borderColor);
}
.persInfoDiv dd, .dd{
    padding: 5px;
    width: 100%;
    border: none;
    background-color: var(--bgInputForm);
    border-radius: 10px;
    color: var(--colorTextInput);
    padding: 10px;
    box-sizing: border-box;
}
.persInfoDiv hr{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.profesorProfile{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.cursoDiv{
    display: flex;
    box-shadow: 0 0 10px black;
}
.submitProfesor{
    width: 500px;
    border-color: #FFD369;
    background-color: var(--bgForm);
    color: #FFD369;
    position: absolute;
    bottom: 0;
    justify-self: center;
}
@media (max-width:1260px) {
    #bigProfesorDiv{
        flex-direction: column;
        margin: 50px auto;
    }
    #overlay{
        overflow-y: auto;
        align-items: flex-start;
    }
    .submitProfesor{
        width: 290px;
    }
}
.cursoCheckbox{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    accent-color: #FFD369;
}
